.SideBarList{
    background-color: #0c0d21;
    width:150px;
    height:100vh;
}

.SideBarInfo{
    background-color:rgba(118,122,182,255);
}

.SideBarList .row{
    height:100px;
    list-style-type: none;
    justify-content: center;
}

.SideBarItems .Icon-User
{
    color:#1e2142;
    width: 50%;
    transform: scale(1);
    transition: 250ms;
    display: flex;
    padding:5px;
    justify-content: center;
}

.SideBarItems .Icon{
    color:#b0e7d4;
    width: 50%;
    transform: scale(1);
    transition: 250ms;
    display: flex; 
    padding:10px;
    justify-content: center;
}


.SideBarItems .Icon:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}


.SideBarItems .Icon-User:hover{
    border-radius: 15px;
    transform: scale(1.5);
    transition: 250ms;
}