.App{
    width:100vw;
    height:100vh;
}

.Chats,.Shop,.Assignments{
    display: flex;
    flex-direction: row;
}

.Content-container{
    flex:45%;
    display: flex;
}

.SideBar{
    display: flex;
    flex:5%;
    top:0;
}