.App{
    width:100vw;
    height:100vh;
}

.Chats{
    display: flex;
    flex-direction: row;
}

.SideBarInfo{
    display:flex;
    flex:20%;
}

.Content-container{
    flex:75%;
    display: flex;
}
.SideBar{
    display: flex;
    flex:5%;
    top:0;
}